/* -----------Main------------ */
main.histoire {
  z-index: 0;
  background-color: var(--bg-color);
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;

  padding-top: 70px;
  margin-bottom: -6px;
}

section.histoire {
  padding: 0 50px;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 100%;
  display: flex;
  gap: 60px;
}

section.histoire div.title h1 {
  font-size: 60px;
  margin-bottom: 50px;
  line-height: 60px;
}

section.histoire div.title p {
  font-size: 15px;
}

section.histoire div.image {
  height: 600px;
  min-width: 500px;
  position: relative;
  margin-bottom: 150px;
}

section.histoire div.image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

section.histoire div.image img.logo {
  position: absolute;
  left: -50px;
  bottom: -100px;
  width: 250px;
  height: auto;
}

section.image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1060px) {
  section.histoire div.image {
    height: 400px;
    min-width: 300px;
    position: relative;
    margin-bottom: 150px;
  }
  section.histoire div.image img.logo {
    position: absolute;
    left: -50px;
    bottom: -80px;
    width: 200px;
    height: auto;
  }
}

@media (max-width: 840px) {
  section.histoire {
    display: flex;
    flex-direction: column;
  }
  section.histoire div.image {
    height: 50vh;
    width: 100%;
    position: relative;
    margin-bottom: 150px;
  }

  section.histoire div.image img.logo {
    left: -20px;
    bottom: -100px;
    width: 250px;
  }
}

@media (max-width: 800px) {
  section.histoire {
    padding: 0 20px;
    padding-top: 50px;
  }
}
