div.admin {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

div.admin form {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--main-color);
}

div.admin form h1{
    color: var(--secondary-color);
}

div.admin form input{
    font-size: 15px;
    color: var(--text-color);
    background: none;
    border: none;
    border-bottom: solid 1px var(--secondary-color);
}

div.admin form input::placeholder{
    color: grey;
}

div.admin form button{
    font-weight: bold;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    border: none;
}